.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remove-from-cart-tbn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #f44336;
  color: white;
  /* margin-left: 10px; */
}
.remove-from-cart-tbn:hover {
  background-color: #d32f2f;
  transition: all 0.3s ease 0s;
}
.cart-list-item {
  width: 400px;
  height: 100px;
  display: flex;
  margin: 10px;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.description-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.cart-img {
  height: 100%;
}
.checkout-btn {
  color: white;
  background-color: #005eb8;
  padding: 15px 30px;
  border: none;
}
.checkout-btn:hover {
  background-color: #004c99;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@media only screen and (max-width: 492px) {
  .cart-list-item {
    width: 75%;
  }
}
@media only screen and (max-width: 420px) {
  .cart {
    font-size: 0.8em;
  }
  .remove-from-cart-tbn {
    width: 70px;
    height: 25px;
    border-radius: 6px;
  }
  .checkout-btn {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 360px) {
  .cart {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 333px) {
  .cart {
    font-size: 0.6em;
  }
  .checkout-btn {
    font-size: 1em;
    padding: 8px 16px;
  }
  .remove-from-cart-tbn {
    font-size: 1em;
    width: 60px;
    height: 20px;
    border-radius: 3px;
  }
  .cart-list-item {
    height: 80px;
    margin: 5px;
    padding: 5px;
  }
}
@media only screen and (max-width: 280px) {
  .cart {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 250px) {
  .cart {
    font-size: 0.4em;
  }
  .cart-list-item {
    height: 70px;
    margin: 8px 2px;
    padding: 2px;
  }
}
@media only screen and (max-width: 215px) {
  .cart {
    font-size: 0.3em;
  }
  .remove-from-cart-tbn {
    width: 40px;
    height: 15px;
    border-radius: 2px;
  }
}
@media only screen and (max-width: 195px) {
  .cart {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 165px) {
  .cart-list-item {
    width: 95%;
  }
}
